In [71]:
import pandas as pd
import numpy as np
from collections import defaultdict
pd.set_option('display.max_rows', 5)

In [72]:
df_user = pd.read_csv("data/user_book_ratings.csv")
df_book = pd.read_csv("data/books_metadata.csv")

In [43]:
df_user.head(2000)

      Unnamed: 0  user_id   book_id  rating
0              0        0   5602347       5
1              1        0        30       5
...          ...      ...       ...     ...
1998        1998       15   1063677       1
1999        1999       15  28109798       4

[2000 rows x 4 columns]

In [35]:
df_book

,book_id,title,series,author,description,genres,pages,publisher,firstPublishDate,awards,setting,coverImg
0,14796360,The Hunger Games,The Hunger Games #1,Suzanne Collins,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",374,Scholastic Press,NaN,['Locus Award Nominee for Best Young Adult Boo...,"['District 12, Panem', 'Capitol, Panem', 'Pane...",https://i.gr-assets.com/images/S/compressed.ph...
...,...,...,...,...,...,...,...,...,...,...,...,...
26763,602931,Anasazi,Sense of Truth #2,Emma Michaels,"'Anasazi', sequel to 'The Thirteenth Chime' by...","['Mystery', 'Young Adult']",190,Bokheim Publishing,August 3rd 2011,[],[],https://i.gr-assets.com/images/S/compressed.ph...

In [36]:
df_users = df_user.head(2000).groupby('user_id')['book_id'].apply(list).reset_index(name='movies_list')
df_ratings = df_user.head(2000).groupby('user_id')['rating'].apply(list).reset_index(name='ratings_list')
df_ratings

    user_id                                       ratings_list
0         0  [5, 5, 5, 4, 4, 5, 5, 5, 4, 5, 5, 5, 5, 5, 4, ...
..      ...                                                ...
15       15  [3, 0, 3, 3, 3, 2, 0, 4, 4, 0, 3, 0, 5, 0, 4, ...

[16 rows x 2 columns]

In [37]:

def list_converter(number_list): 
    author_list = []
    for i in number_list:
        name = df_book.loc[df_book["book_id"]==i,"author"].to_string(index=False)
        author_list.append(name)
    return author_list

In [38]:
df_users["authors"]= df_users.apply(lambda row : list_converter(row["movies_list"]),axis=1)
df_users["ratings"]= df_ratings["ratings_list"]
df_users

,user_id,movies_list,authors,ratings
0,0,"[5602347, 30, 12528798, 25026517, 835, 2202194...","[Bill Bryson, J.R.R. Tolkien, Frank Herbert, N...","[5, 5, 5, 4, 4, 5, 5, 5, 4, 5, 5, 5, 5, 5, 4, ..."
...,...,...,...,...
15,15,"[9926547, 633409, 1277772, 24473485, 13066640,...","[Sara Gruen (Goodreads Author), John Fowles, U...","[3, 0, 3, 3, 3, 2, 0, 4, 4, 0, 3, 0, 5, 0, 4, ..."

In [121]:
# def averages(names, values):
#     # Group the items by name.
#     value_lists = defaultdict(list)
#     for name, value in zip(names, values):
#         value_lists[name].append(value)
    
#     # Take the average of each list.
#     # 9.2.5
#     result = {}
#     mean = sum(values) / len(values)
#     values_std = [(v - mean) for v in values]
#     for name, values in value_lists.items():
#         result[name] = sum(values_std) / float(len(values_std))
#     return result
     
def averages(names, non_stand_values):
    mean = sum(non_stand_values) / len(non_stand_values)
    values = [x - mean for x in non_stand_values]
    
    # Group the items by name.
    value_lists = defaultdict(list)
    for name, value in zip(names, values):
        value_lists[name].append(value)
        
    # Take the average of each list.
    result = {}
    for name, values in value_lists.items():
        result[name] = sum(values) / float(len(values))
    return result

df_users["author_rating"]= df_users.apply(lambda row : averages(row["authors"],row["ratings"]),axis=1)

    
averages(["john","danny","john","john"],[0,5,5,5])

{'john': -0.4166666666666667, 'danny': 1.25}

In [122]:
df_users

,user_id,movies_list,authors,ratings,author_rating
0,0,"[5602347, 30, 12528798, 25026517, 835, 2202194...","[Bill Bryson, J.R.R. Tolkien, Frank Herbert, N...","[5, 5, 5, 4, 4, 5, 5, 5, 4, 5, 5, 5, 5, 5, 4, ...","{'Bill Bryson': 0.12264150943396235, 'J.R.R. T..."
1,1,"[9003477, 627206, 395614, 1730369, 91760, 2409...","[Tracy Chevalier (Goodreads Author), Betty Edw...","[4, 4, 0, 5, 0, 0, 5, 0, 0, 3, 0, 5, 0, 5, 5, ...",{'Tracy Chevalier (Goodreads Author)': 0.81999...
...,...,...,...,...,...
14,14,"[17800990, 19009257, 29230876, 30741235, 33079...","[Charlotte Stein (Goodreads Author), Beth Kery...","[5, 5, 5, 5, 5, 5, 5, 0, 0, 5, 0, 5, 0, 0, 0, ...",{'Charlotte Stein (Goodreads Author)': 3.66071...
15,15,"[9926547, 633409, 1277772, 24473485, 13066640,...","[Sara Gruen (Goodreads Author), John Fowles, U...","[3, 0, 3, 3, 3, 2, 0, 4, 4, 0, 3, 0, 5, 0, 4, ...",{'Sara Gruen (Goodreads Author)': 1.0612244897...

In [123]:
df = df_users.drop(columns=['authors', 'ratings'])
df.iloc[0,2]

{'Bill Bryson': 0.12264150943396235,
 'J.R.R. Tolkien': 2.6226415094339623,
 'Frank Herbert': 2.6226415094339623,
 'Neal Stephenson (Goodreads Author)': 1.4226415094339624,
 'Dan Harrington, Bill Robertie': 1.6226415094339623,
 'Donald A. Norman': 2.6226415094339623,
 'Khaled Hosseini (Goodreads Author), Berliani M....': 2.6226415094339623,
 'Steven Pressfield (Goodreads Author)': 0.12264150943396235,
 'David Allen': 1.6226415094339623,
 'Ayn Rand, Leonard Peikoff (Goodreads Author) (A...': 2.6226415094339623,
 'Jane Austen, Anna Quindlen (Introduction)': 2.6226415094339623,
 'David McCullough': 0.12264150943396235,
 'Lance Armstrong, Sally Jenkins': 2.6226415094339623,
 'Malcolm Gladwell': 1.6226415094339623,
 'Clayton M. Christensen, Michael E. Raynor': 1.6226415094339623,
 'Clayton M. Christensen, L.J. Ganser (Narrator)': -2.3773584905660377,
 'H.G. Wells, Greg Bear (Introduction), Carlo Pag...': -2.3773584905660377,
 'Jack Kerouac': 1.6226415094339623,
 'Naomi Klein': -2.3773584905660377,
 'Douglas Coupland (Goodreads Author)': 1.6226415094339623,
 'Ayn Rand, Leonard Peikoff (Goodreads Author) (I...': -0.8773584905660377,
 'Louis de Bernières': 2.6226415094339623,
 'Thomas L. Friedman, Đặng Ly (Translator)': -2.3773584905660377,
 'Bernard Malamud, Kevin Baker (Goodreads Author)...': 1.6226415094339623,
 'Mark Twain, Guy Cardwell (Notes), John Seelye (...': 2.6226415094339623,
 'Andy Hunt (Goodreads Author), Dave Thomas (Good...': 2.6226415094339623,
 'Yann Martel': 2.6226415094339623,
 'Jack Welch, John A. Byrne, Mike Barnicle': 0.6226415094339623,
 'Ernest Hemingway': 1.6226415094339623,
 'Alexandre Dumas, Robin Buss (Translator)': 2.6226415094339623,
 'Brian Greene': 1.6226415094339623,
 'Michael Crichton': 0.19407008086253377,
 'Arthur Conan Doyle, Kyle Freeman (Contributor)': 1.6226415094339623,
 'Arthur Conan Doyle, Kyle Freeman (Introduction)': 2.6226415094339623,
 'Jostein Gaarder, Paulette Møller (Translator)': -2.3773584905660377,
 'Allan C. Weisbecker': 1.6226415094339623,
 'J.D. Salinger': 2.6226415094339623,
 'Jon Krakauer (Goodreads Author)': 1.6226415094339623,
 'F. Scott Fitzgerald, Francis Scott Fitzgerald': 2.6226415094339623,
 'Wallace Stegner': -2.3773584905660377,
 'Gabriel García Márquez, Gregory Rabassa (Transl...': 1.6226415094339623,
 'John Steinbeck': 1.6226415094339623,
 'Ray Bradbury': 2.6226415094339623,
 'Hunter S. Thompson, Ralph Steadman (Illustrator)': 0.6226415094339623,
 'John le Carré': -0.12735849056603765,
 'Maurice Sendak': 2.6226415094339623,
 'William Golding': 2.6226415094339623,
 'John Grisham (Goodreads Author)': -0.37735849056603765,
 'Joseph Heller': 1.6226415094339623,
 'Shel Silverstein': 2.6226415094339623,
 'Marlo Morgan': 1.6226415094339623,
 'Norman Maclean, Barry Moser (Illustrator)': 2.6226415094339623,
 'George Orwell': 0.12264150943396235,
 'Robert T. Kiyosaki, Sharon Lechter': 1.6226415094339623,
 'Dan Brown (Goodreads Author)': -0.37735849056603765,
 'Bill Clinton': 2.6226415094339623,
 'Joseph Conrad, Aníbal Fernandes (Translator)': 0.6226415094339623,
 'Robert A. Heinlein': 0.6226415094339623,
 'Larry McMurtry': 1.1226415094339623,
 'Hiawyn Oram (Adaptor), C.S. Lewis, Tudor Humphr...': 2.6226415094339623,
 'Nikola Tesla': 1.6226415094339623,
 'Carol S. Dweck': 1.6226415094339623,
 'Stephen Hawking': 1.6226415094339623,
 'Terry Pratchett, Neil Gaiman (Goodreads Author)': -2.3773584905660377,
 'Kurt Vonnegut Jr.': 2.6226415094339623,
 'Roald Dahl, Quentin Blake (Illustrator)': 2.1226415094339623,
 'Harper Lee': 2.6226415094339623,
 'Dava Sobel': 2.6226415094339623,
 "Scott O'Dell": 1.6226415094339623,
 'Nathaniel Hawthorne, Thomas E. Connolly (Annota...': 0.6226415094339623,
 'Homer, Robert Fagles (Translator), Bernard Knox...': 1.6226415094339623,
 'Leo Tolstoy, Aylmer Maude (Translator), Lev Tol...': -2.3773584905660377,
 'Chuck Palahniuk (Goodreads Author)': 2.6226415094339623,
 'Charles Dickens, Παυλίνα Παμπούδη (Translator),...': 1.6226415094339623,
 'E.B. White, Garth Williams (Illustrator), Rosem...': 2.6226415094339623,
 'Joshua Ferris (Goodreads Author)': -2.3773584905660377,
 'William Shakespeare, Paul Werstine (Editor), Ba...': 1.6226415094339623,
 'William Shakespeare, Robert Jackson (Editor), B...': 0.6226415094339623,
 'Napoleon Hill, Ben Holden-Crowther (Goodreads A...': 2.6226415094339623,
 'Zora Neale Hurston': 1.6226415094339623,
 'William Faulkner': -0.37735849056603765,
 'Khaled Hosseini (Goodreads Author)': 2.6226415094339623,
 'Douglas Stone, Bruce Patton, Sheila Heen': 1.6226415094339623,
 'Al Gore': 1.6226415094339623,
 'Ori Brafman (Goodreads Author), Rod A. Beckstrom': 1.6226415094339623,
 'Jean Strouse': 0.6226415094339623,
 'Al Ries, Jack Trout': 2.6226415094339623,
 'Philip K. Dick': 1.6226415094339623,
 'Timothy Ferriss (Goodreads Author)': 0.12264150943396235,
 'Daniel J. Levitin': -2.3773584905660377,
 'Jules Verne, Anthony Bonner (Translator)': 2.6226415094339623,
 'Norman Mailer': -2.3773584905660377,
 'Charles Dickens, Richard Maxwell (Editor/Introd...': 1.6226415094339623,
 'Richard P. Feynman': 2.6226415094339623,
 'Wilson Rawls': 2.6226415094339623,
 'William Styron': 1.6226415094339623,
 'Austin Tappan Wright': 2.6226415094339623,
 'Kay Redfield Jamison (Goodreads Author)': 1.6226415094339623,
 'Neil Gaiman (Goodreads Author)': 2.1226415094339623,
 'Walter Isaacson (Goodreads Author)': -0.9773584905660376,
 'Bill Watterson': 2.6226415094339623,
 'Richard Seymour Hall': -2.3773584905660377,
 'Dave Wolverton': 0.6226415094339623,
 'Nassim Nicholas Taleb (Goodreads Author)': -2.3773584905660377,
 'Adam Hochschild': 1.6226415094339623,
 'Tepilit Ole Saitoti': 2.6226415094339623,
 'Joseph J. Ellis': -2.3773584905660377,
 'Alan Moore (Goodreads Author), Dave Gibbons (Il...': -2.3773584905660377,
 'Dan Ariely': 2.6226415094339623,
 'David Macaulay': 2.6226415094339623,
 'Peter Allison': -2.3773584905660377,
 'Michael Pollan (Goodreads Author)': -0.37735849056603765,
 'Frank Norris, Kevin Starr (Introduction)': -2.3773584905660377,
 'James C. Collins': 2.6226415094339623,
 'Tim Powers': 1.6226415094339623,
 'Jonathan Safran Foer (Goodreads Author)': -2.3773584905660377,
 'Truman Capote': -2.3773584905660377,
 'Alice Schroeder': 2.6226415094339623,
 'Candice Millard': -2.3773584905660377,
 'Barack Obama': -2.3773584905660377,
 'Haruki Murakami, Jay Rubin (Translator)': 0.6226415094339623,
 'Roberto Saviano': -2.3773584905660377,
 'Neil Gaiman (Goodreads Author), Dave McKean (Il...': -2.3773584905660377,
 'Frederick Forsyth': -2.3773584905660377,
 'Felix Dennis': -2.3773584905660377,
 'Dan Simmons': -2.3773584905660377,
 'T. Colin Campbell, Thomas M. Campbell II (Goodr...': -2.3773584905660377,
 'Anne Frank, Eleanor Roosevelt (Introduction), 郭...': 1.6226415094339623,
 'Keith Ferrazzi': -2.3773584905660377,
 'Gregory David Roberts': 1.6226415094339623,
 "Patrick O'Brian": 1.9559748427672956,
 'Jonathan Lethem': -2.3773584905660377,
 'Victor Hugo, Walter J. Cobb (Translator)': -2.3773584905660377,
 'Nathaniel Philbrick (Goodreads Author)': -2.3773584905660377,
 'Ben Mezrich (Goodreads Author)': -2.3773584905660377,
 'Andrew Hodges, Douglas R. Hofstadter (Foreword)': -2.3773584905660377,
 'Aldous Huxley': 2.6226415094339623,
 'Uwem Akpan': -2.3773584905660377,
 'William Kamkwamba (Goodreads Author), Bryan Mealer': -2.3773584905660377,
 'Nick Hornby': -2.3773584905660377,
 'Jeff Hawkins, Sandra Blakeslee': -2.3773584905660377,
 'Isak Dinesen, Karen Blixen': 2.6226415094339623,
 'Jason Fried, David Heinemeier Hansson': -2.3773584905660377,
 'Robert A. Caro': -2.3773584905660377,
 'Barbara Kingsolver': 1.6226415094339623,
 'Ray Kurzweil': -2.3773584905660377,
 'Walter M. Miller Jr., Mary Doria Russell (Goodr...': -2.3773584905660377,
 'Paolo Bacigalupi (Goodreads Author)': -2.3773584905660377,
 'Tony Hsieh': 2.6226415094339623,
 'David Mitchell': -1.0440251572327044,
 'Michael Lewis': 0.6226415094339623,
 'Umberto Eco, William Weaver (Translator)': 0.6226415094339623,
 'Thomas S. Kuhn': -2.3773584905660377,
 'Richard Branson': 2.6226415094339623,
 'Bram Stoker, Nina Auerbach (Editor), David J. S...': -2.3773584905660377,
 'Daniel H. Pink (Goodreads Author)': 0.6226415094339623,
 'Edwin A. Abbott, Banesh Hoffmann (Introduction)': -2.3773584905660377,
 'Jane Austen, Tony Tanner (Introduction), Ros Ba...': 1.6226415094339623,
 'Po Bronson, Ashley Merryman': -2.3773584905660377,
 'John Wooden, Steve Jamison': 1.6226415094339623,
 'Steven Hall (Goodreads Author)': -2.3773584905660377,
 'Michelle Moran (Goodreads Author)': -2.3773584905660377,
 'Jennifer Egan (Goodreads Author)': 0.12264150943396235,
 'Guy Kawasaki (Goodreads Author)': -2.3773584905660377,
 'Frances Hodgson Burnett': 2.6226415094339623,
 'Marc Weissbluth': -2.3773584905660377,
 'Erik Larson (Goodreads Author)': 1.6226415094339623,
 'John Fowles': -2.3773584905660377,
 'Ernest Cline (Goodreads Author)': 1.6226415094339623,
 'Antoine de Saint-Exupéry, Richard Howard (Trans...': 2.6226415094339623,
 'Arthur Conan Doyle': 2.6226415094339623,
 'Blake Mycoskie': -2.3773584905660377,
 'E.L. Doctorow': -2.3773584905660377,
 'Colm Tóibín': -2.3773584905660377,
 'Kevin D. Mitnick, William L. Simon, Steve Wozniak': -2.3773584905660377,
 'Joseph Campbell': -2.3773584905660377,
 'Jack London, Avi (Introduction)': 2.6226415094339623,
 'Tina Fey': 1.6226415094339623,
 'Eric Ries (Goodreads Author)': -2.3773584905660377,
 'Susan Cain (Goodreads Author)': -2.3773584905660377,
 'Laura Hillenbrand': 2.6226415094339623,
 'Stephen King (Goodreads Author)': -2.3773584905660377,
 'Robert B. Cialdini (Goodreads Author)': 2.6226415094339623,
 'Doris Kearns Goodwin': 2.6226415094339623,
 'Adam Johnson': 0.6226415094339623,
 'Beatrix Potter': 2.6226415094339623,
 'Matthew Pearl (Goodreads Author)': -2.3773584905660377,
 'David A. Price': -2.3773584905660377,
 'Peter H. Diamandis, Steven Kotler (Goodreads Au...': -2.3773584905660377,
 'Charles Duhigg (Goodreads Author)': 1.6226415094339623,
 'Dr. Seuss': 2.6226415094339623,
 'Clayton M. Christensen, James Allworth, Karen D...': -2.3773584905660377,
 'Patrick deWitt': 0.6226415094339623,
 'Will Schwalbe (Goodreads Author)': 2.6226415094339623,
 'Steven Levy (Goodreads Author)': -2.3773584905660377,
 'G. Willow Wilson (Goodreads Author)': 0.6226415094339623,
 'Rob Reid (Goodreads Author)': 1.6226415094339623,
 'Edward Rutherfurd (Goodreads Author)': -2.3773584905660377,
 'Daniel Kahneman': -2.3773584905660377,
 'Jim Ottaviani (Goodreads Author), Leland Myrick...': -2.3773584905660377,
 'Christopher McDougall': 2.6226415094339623,
 'Jan Potocki, Ian Maclean (Translator)': -2.3773584905660377,
 'Karl Marlantes': -2.3773584905660377,
 'Stephen E. Ambrose': -2.3773584905660377,
 'Katherine Boo': 1.6226415094339623,
 'Tony Robbins, Anthony Robbins (Goodreads Author...': 1.6226415094339623,
 'Steve Martin (Goodreads Author)': 1.6226415094339623,
 'William Manchester': -2.3773584905660377,
 'Travis Bradberry (Goodreads Author), Jean Greav...': -2.3773584905660377,
 'Sheryl Sandberg, Nell Scovell (Co-Writer)': -2.3773584905660377,
 'Kazuo Ishiguro': 0.12264150943396235,
 'Maria Semple': 2.6226415094339623,
 'Michael Moss': 2.6226415094339623,
 'Nick Bilton (Goodreads Author)': -2.3773584905660377,
 'Max Brooks (Goodreads Author)': -2.3773584905660377,
 'William L. Shirer': -2.3773584905660377,
 'David Foster Wallace': -2.3773584905660377,
 'Peter F. Drucker': -2.3773584905660377,
 'Eric Carle': 2.6226415094339623,
 'W. Somerset Maugham': 2.6226415094339623,
 'Marisha Pessl (Goodreads Author)': -2.3773584905660377,
 'Dave Eggers': -0.37735849056603765,
 'Deborah Bladon (Goodreads Author)': -2.3773584905660377,
 'James L. Swanson': -2.3773584905660377,
 'P.D. Eastman': 2.6226415094339623,
 'Nir Eyal (Goodreads Author)': 1.6226415094339623,
 'Don Freeman': 2.6226415094339623,
 'Donna Tartt': 1.6226415094339623,
 'J.J. Abrams, Doug Dorst (Goodreads Author)': 1.6226415094339623,
 'Andy Weir (Goodreads Author)': 0.6226415094339623,
 'Nelson Mandela': -2.3773584905660377,
 'James Joyce, Jeri Johnson (Editor, Introduction...': 2.6226415094339623,
 'Eliyahu M. Goldratt, Jeff Cox': 2.6226415094339623,
 'Margaret Atwood (Goodreads Author)': 1.6226415094339623,
 'Max Barry (Goodreads Author)': -2.3773584905660377,
 'Sophia Amoruso (Goodreads Author)': -2.3773584905660377,
 'Ed Catmull, Amy Wallace': 2.6226415094339623,
 'Hampton Sides': -2.3773584905660377,
 'Peter Thiel, Blake Masters (Goodreads Author)': -2.3773584905660377,
 'Emily St. John Mandel (Goodreads Author)': 2.6226415094339623,
 'Patrick Modiano, Daniel Weissbort (Translator)': -2.3773584905660377,
 'Mark Helprin': -2.3773584905660377,
 'Randall Munroe (Goodreads Author)': -2.3773584905660377,
 'Henri Charrière': 1.6226415094339623,
 'J.E. Gordon': -2.3773584905660377,
 'Anthony Horowitz (Goodreads Author)': -2.3773584905660377,
 'Eiji Yoshikawa, Charles Terry (Translator), Edw...': -2.3773584905660377,
 'Simon Winchester': 1.6226415094339623,
 'Elizabeth Kolbert': 0.6226415094339623,
 'Nick Bostrom (Goodreads Author)': -2.3773584905660377,
 'Paula Hawkins (Goodreads Author)': 1.6226415094339623,
 'Brent Schlender (Goodreads Author), Rick Tetzeli': -2.3773584905660377,
 'Ken Follett (Goodreads Author)': -2.3773584905660377,
 'Darrell Huff, Irving Geis (Illustrator)': -2.3773584905660377,
 'Elio Vittorini, Alane Salierno Mason (Translato...': 2.6226415094339623,
 'Marie Kondō (Goodreads Author), Cathy Hirano (T...': 2.6226415094339623,
 'John Brooks': -2.3773584905660377,
 'Mario Puzo, Robert Thompson (Introduction), Pet...': 2.6226415094339623,
 'Dale Carnegie': -2.3773584905660377,
 'James Surowiecki': -2.3773584905660377,
 'Thomas Piketty, Arthur Goldhammer (Goodreads Au...': -2.3773584905660377,
 'John Medina (Goodreads Author)': 1.6226415094339623,
 'Adam M. Grant (Goodreads Author)': 2.6226415094339623,
 'Bill Browder (Goodreads Author)': -2.3773584905660377,
 'Drew Daywalt, Oliver Jeffers (Goodreads Author)...': 1.6226415094339623,
 'Richard Flanagan': -2.3773584905660377,
 'Chris Hadfield': -2.3773584905660377,
 'Alfred Lansing': -2.3773584905660377,
 'Anthony Doerr (Goodreads Author)': 1.6226415094339623,
 'John Williams, John McGahern (Contributor)': -2.3773584905660377,
 'David J. Schwartz': -2.3773584905660377,
 'William Finnegan': -2.3773584905660377,
 'Kim Stanley Robinson': 1.6226415094339623,
 'Yuval Noah Harari': 2.6226415094339623,
 'Benjamin Graham, Jason Zweig (Contributor), War...': 2.6226415094339623,
 'Graham Moore (Goodreads Author)': -2.3773584905660377,
 'David Peace': -2.3773584905660377,
 'Brené Brown (Goodreads Author)': -2.3773584905660377,
 'Mary Pipher': -2.3773584905660377,
 'Ursula K. Le Guin': -2.3773584905660377,
 'J.D. Vance': -2.3773584905660377,
 'Colson Whitehead (Goodreads Author)': 1.6226415094339623,
 'Ralph Ellison': 0.6226415094339623,
 'Phil Knight': 2.6226415094339623,
 'Trevor Noah': -2.3773584905660377,
 'Timothy Ferriss (Goodreads Author), Arnold Schw...': -2.3773584905660377,
 'Jack Cheng (Goodreads Author)': -2.3773584905660377,
 'Claire Legrand (Goodreads Author), Sarah Watts ...': -2.3773584905660377,
 'Gary Shteyngart (Goodreads Author)': -2.3773584905660377,
 'Amor Towles (Goodreads Author)': -2.3773584905660377,
 'Andre Agassi, J.R. Moehringer': 2.6226415094339623,
 'Maya Van Wagenen': -2.3773584905660377,
 'Nicholas Sparks (Goodreads Author)': -2.3773584905660377,
 'Virginia Woolf': -2.3773584905660377,
 'Omar El Akkad (Goodreads Author)': -2.3773584905660377,
 'Peter F. Hamilton (Goodreads Author), Marta Gar...': -2.3773584905660377,
 'Neil deGrasse Tyson (Goodreads Author)': -2.3773584905660377,
 'Ron Chernow': -2.3773584905660377,
 'Jocko Willink (Goodreads Author), Leif Babin': -2.3773584905660377,
 'Graham Greene': -2.3773584905660377,
 'Neal Stephenson (Goodreads Author), Nicole Gall...': -2.3773584905660377,
 'Viet Thanh Nguyen (Goodreads Author)': -2.3773584905660377,
 'Nathan Hill': -2.3773584905660377,
 'F. Scott Fitzgerald, Amor Towles (Goodreads Aut...': -2.3773584905660377,
 'Adam Gopnik': 1.6226415094339623,
 'Patrick Süskind, John E. Woods (Translator)': 1.6226415094339623,
 'Thomas L. Friedman': -2.3773584905660377,
 'Paul Kalanithi': -2.3773584905660377,
 'Natsuki Takaya, Alethea Nibley (Translator), At...': -2.3773584905660377,
 'Niall Ferguson': -2.3773584905660377,
 'Marshall B. Rosenberg, Arun Gandhi (Foreword by)': -2.3773584905660377,
 'Ray Dalio (Goodreads Author) (Author/Narrator),...': -2.3773584905660377}

In [97]:
%%file UP_MapReduce.py
 
from mrjob.job import MRJob
from mrjob.step import MRStep
import pandas as pd

df_book = pd.read_csv("data/books_metadata.csv")

class UP_MapReduce(MRJob): #class that inherits from MRJob 

    def string_to_list(self,s, awards=False):
        if awards:
            s_ = s.strip("[]").split(", ")
            s = []
            for aw in s_:
                s.append(aw[1:-1]) # Chop off the " from front and back, somewhat tideous but works
        else:
            s = s.strip("[]").split("', '")
            # Remove "'" from start of first and end of last item
            s[0] = s[0][1:]
            s[-1] = s[-1][:-1]
        return s

    def get_genre_list(self, bookID):
        return self.string_to_list(df_book[df_book["book_id"]==bookID]["genres"], awards=False)
        
    
    def steps(self):
        #need to define the order of mappers and reducers, so that the functions takes in the right key and value
        #only one mapper and reducer per step, so therefore need several steps
        #do we need the combiner between the mapper and reducer??
        return [ 
            MRStep(mapper=self.mapper_1, reducer=self.reducer_1),
#             MRStep(mapper=self.mapper_2, reducer = self.reducer_2),
#             MRStep(mapper = self.mapper_3, reducer = self.reducer_3),
#             MRStep(mapper = self.mapper_4)
        ]

    
    #key - ignored
    #values - corpus of documents (i.e. the data frame books_metadata)
    def mapper_1(self, _, line):  #each line is a row, i.e. a book 
        if line.find("book_id") == -1:
            list = line.split( ",")
            userID = list[2]
            bookID = list[3]
            rating = list[4]
            genres = self.get_genre_list(bookID)
            for genre in genres:
                yield (userID,genre), rating  # returns key-value pairs ((word, id), 1)

    #key - the key which was yielded by the mapper, i.e. (word, id). (key[0] = word, key[1]=id)
    #values - A generator which yields all values yielded by the mapper which correspond to key, i.e. a list of 1's
    def reducer_1(self, userID_genre, rating): 
        yield (userID_genre[0], userID_genre[1]), average(rating) # returns key-value pairs ((word, id), n)

if __name__ == '__main__':
    UP_MapReduce.run()

Overwriting UP_MapReduce.py

In [101]:
df = pd.read_csv("data/small_user_book_rating.csv")
df.iloc[0,1]

       t  Unnamed: 0  user_id   book_id  rating
0      0           0        0   5602347       5
1      1           1        0        30       5
..   ...         ...      ...       ...     ...
998  998         998        6  15947905       3
999  999         999        6  30037251       3

[1000 rows x 5 columns]

In [102]:
! python UP_MapReduce.py data/small_user_book_rating.csv > output

No configs found; falling back on auto-configuration
No configs specified for inline runner
Creating temp directory C:\Users\imad3\AppData\Local\Temp\UP_MapReduce.imad3.20221124.150757.757370
Running step 1 of 1...

Error while reading from C:\Users\imad3\AppData\Local\Temp\UP_MapReduce.imad3.20221124.150757.757370\step\000\mapper\00000\input:

Traceback (most recent call last):
  File "C:\Users\imad3\Desktop\DataScienceFinalProject\UP_MapReduce.py", line 57, in <module>
    UP_MapReduce.run()
  File "C:\Users\imad3\anaconda3\lib\site-packages\mrjob\job.py", line 616, in run
    cls().execute()
  File "C:\Users\imad3\anaconda3\lib\site-packages\mrjob\job.py", line 687, in execute
    self.run_job()
  File "C:\Users\imad3\anaconda3\lib\site-packages\mrjob\job.py", line 636, in run_job
    runner.run()
  File "C:\Users\imad3\anaconda3\lib\site-packages\mrjob\runner.py", line 503, in run
    self._run()
  File "C:\Users\imad3\anaconda3\lib\site-packages\mrjob\sim.py", line 161, in _run
    self._run_step(step, step_num)
  File "C:\Users\imad3\anaconda3\lib\site-packages\mrjob\sim.py", line 170, in _run_step
    self._run_streaming_step(step, step_num)
  File "C:\Users\imad3\anaconda3\lib\site-packages\mrjob\sim.py", line 181, in _run_streaming_step
    self._run_mappers_and_combiners(step_num, map_splits)
  File "C:\Users\imad3\anaconda3\lib\site-packages\mrjob\sim.py", line 219, in _run_mappers_and_combiners
    self._run_multiple(
  File "C:\Users\imad3\anaconda3\lib\site-packages\mrjob\sim.py", line 130, in _run_multiple
    func()
  File "C:\Users\imad3\anaconda3\lib\site-packages\mrjob\sim.py", line 724, in _run_mapper_and_combiner
    run_mapper()
  File "C:\Users\imad3\anaconda3\lib\site-packages\mrjob\sim.py", line 746, in _run_task
    invoke_task(
  File "C:\Users\imad3\anaconda3\lib\site-packages\mrjob\inline.py", line 133, in invoke_task
    task.execute()
  File "C:\Users\imad3\anaconda3\lib\site-packages\mrjob\job.py", line 675, in execute
    self.run_mapper(self.options.step_num)
  File "C:\Users\imad3\anaconda3\lib\site-packages\mrjob\job.py", line 760, in run_mapper
    for k, v in self.map_pairs(read_lines(), step_num=step_num):
  File "C:\Users\imad3\anaconda3\lib\site-packages\mrjob\job.py", line 830, in map_pairs
    for k, v in mapper(key, value) or ():
  File "C:\Users\imad3\Desktop\DataScienceFinalProject\UP_MapReduce.py", line 47, in mapper_1
    genres = self.get_genre_list(bookID)
  File "C:\Users\imad3\Desktop\DataScienceFinalProject\UP_MapReduce.py", line 24, in get_genre_list
    return self.string_to_list(df_book[df_book["book_id"]==bookID]["genres"], awards=False)
  File "C:\Users\imad3\Desktop\DataScienceFinalProject\UP_MapReduce.py", line 17, in string_to_list
    s = s.strip("[]").split("', '")
  File "C:\Users\imad3\anaconda3\lib\site-packages\pandas\core\generic.py", line 5487, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'Series' object has no attribute 'strip'

In [51]:
small_user_book_rating = df_user.head(1000)

In [53]:
small_user_book_rating.to_csv("data/small_user_book_rating.csv")

In [109]:
df_book = pd.read_csv("data/books_metadata.csv")


def string_to_list(s, awards=False):
        print()
        if awards:
            s_ = s.strip("[]").split(", ")
            s = []
            for aw in s_:
                s.append(aw[1:-1]) # Chop off the " from front and back, somewhat tideous but works
        else:
            s = s.strip("[]").split("', '")
            # Remove "'" from start of first and end of last item
            s[0] = s[0][1:]
            s[-1] = s[-1][:-1]
        return s

    
with open("data/small_user_book_rating.csv", 'r') as file:
    next(file) #Skip header
    while (line := file.readline().rstrip()):
        #Retrieve user, book id and associated rating
        _, _, user_id, book_id, rating = line.split(",")
        
        print(book_id)
        print(df_book[df_book["book_id"]==book_id]["genres"])
        
        break

5602347
Series([], Name: genres, dtype: object)